<div class="beers-main">
    <img class="main-img" src="/images/beer.png" alt="beer"/> 
    <div class="buttons">
    <button class="button"><a class="link" href="/beers"> Check the Beers! </a></button>
    <button class="button"><a class="link" href="/random-beers"> Check a Random Beer </a> </button>
    </div>
</div>